/* style sheet for website */

/* global variables */
:root
{
   --greyfontcolor:#121212;
   
}

.background-color
{
   height:100vh;
   width: 50vw;
   background-image: linear-gradient( rgba(141, 141, 255, 0.75),rgba(255, 255, 255, 1));
   /*background-position: center;
   background-size: cover;
   position: relative;*/
}

header
{
   display:flex;
   justify-content:flex-end;
   align-items: center;
   
}

.logo
{
   cursor: pointer;
   width: 100px;
   margin-right: auto;
   padding-left: 5rem;
   padding-top: 2rem;

}

.nav-menu
{
   list-style: none;
}

.nav-menu li
{
   display: inline-block;
   justify-content: space-around;
   transform:translateX(750px);
   padding:0px 10px;
   margin-left: 10px;
   font-family: Poppins;
   font-size:22px;
}

.nav-menu li a
{
   color:var(--greyfontcolor);
   text-decoration: none;
}


.hero-text
{
   color: var(--greyfontcolor);
   display:flex;
   justify-content: center;
   align-items: center;
   font-family: Poppins;
   font-size: 75px;
   margin-left: 5rem;
   text-transform: uppercase;
   padding: 1rem;
   line-break: loose;
   background-color: rgba(141, 255, 141, 1);
}